body {
  background-color: #636363;
  margin: 0;
  padding: 0;
}
.page {
  background-color: whitesmoke;
  width: 21cm;
  height: 29.7cm;
  margin: 1cm auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  padding: 2cm;
  line-height: 1.5;
  font-size: 1.2em;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
p {
  margin-bottom: 30px;
}

nav {
  background-color: #333;
  color: #fff;
  height: 40px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

